.gameField {
  border: 1px solid black;
  table-layout: fixed;
}
.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.cell--alive {
  background-color: aquamarine;
}

.cell--dead {
  background-color: darkgrey;
}

.cell--undead {
  background-color: coral;
}
